<ion-tabs class="tabs-icon-top tabs-light">

  <!-- WODs Tab -->
  <ion-tab title="WODs" icon-off="ion-ios-monitor-outline" icon-on="ion-ios-monitor" href="#/app/home/wods">
    <ion-nav-view name="home_tabs-wods"></ion-nav-view>
  </ion-tab>

  <!-- Discussion Tab -->
  <ion-tab title="Discussion" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/home/discussion" badge="getCount()" badge-style="badge-assertive">
    <ion-nav-view name="home_tabs-discussion"></ion-nav-view>
  </ion-tab>

  <!-- Schedule Tab -->
  <ion-tab title="Schedule" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/app/home/schedule">
    <ion-nav-view name="home_tabs-schedule"></ion-nav-view>
  </ion-tab>
</ion-tabs>