<ion-view view-title="Discussion">
	<ion-content class="padding">
		<div class="item item-input-inset">
			<a class="button icon ion-chevron-left" style="margin-right: 10px;" ng-click="changeDate('prev')"></a>
			<label class="item-input-wrapper padding">
				{{ tabdate | date : 'EEE, MMM d' }}
			</label>
			<a class="button icon ion-chevron-right" ng-click="changeDate('next')"></a>
			<a class="button icon ion-calendar" ng-click="changeDate('today')"></a>
		</div>
		
		<div class="card">
			<div class="item item-divider">Comments</div>
			<div ng-repeat="comment in dailyComments.data.comments">
				<div class="item item-thumbnail-left item-text-wrap">
					<img ng-src="{{comment.avatar_url}}" />
					<b>{{comment.display_name}}</b>
					<p>{{comment.comment}}</p>
				</div>
			</div>
		</div>

		<div class="item item-input-inset">
			<label class="item-input-wrapper">
				<input type="text" placeholder="Add Comments" ng-model="new_comment">
			</label>
			<button type="button" ng-click="addComment()" class="button button-small button-positive icon ion-paper-airplane"> Send</button>
		</div>
	</ion-content>
</ion-view>
