<ion-view view-title="WODTogether Login">
	<ion-content class="padding">
		<div class="list card">
			<div class="item item-divider">WODTogether Login</div>
			<div class="item item-body">
				<div>
					<div class="list">
						<label class="item item-input">
							<input ng-model="email" type="email" placeholder="Email Address" />
						</label>
						<label class="item item-input">
							<input ng-model="password" type="password" placeholder="Password" />
						</label>
					</div>
					<div class="padding">
						<button ng-click="login(email, password)" class="button button-block button-positive">Sign In</button>
					</div>
					
					<p ng-if="error">Error: <strong>{{ error }}</strong></p>
				</div>
			</div>
		</div>
		
		<div class="row row-center">
			<div class="col" style="text-align: center"><img src="img/icon.png" style="margin: auto" /></div>
		</div>
		<div class="row row-center">
			<div class="col" style="text-align: center"><p>v {{ wodtogether_version }}</p><p>{{ endpoint }}</p></div>
		</div>
	</ion-content>
</ion-view>